
Find a donor <br/>

for the campaign titled:
<h2>"<%= session[:campaign_hash]['title'] %>"</h2>
(<a href="/campaigns">pick a different campaign</a>)
<br />
<br />

<form action=<%= url_for search_donors_path %> method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    First name: <input type="text" name="person[given_name]"><br>
    Last name: <input type="text" name="person[family_name]"><br>
    Zipcode: <input type="text" name="person[postal_code]">
    <input type="hidden" name="campaign[action_network_id]" value="<%= session[:campaign_hash]['id'] %>" >
    <input type="hidden" name="campaign[description]" value="<%= session[:campaign_hash]['title'] %>">
    <input type="submit" value="Search...">
</form>