



<style>
table, th, td {
    border: 1px solid black;
}

table {
    border-spacing: 5px;
}

</style>

for campaign <h2>"<%= session[:campaign_hash]['title'] %>"</h2>

found these potential donors:

<br />
<br />
<table>

    <% @donors_array.each do |donor| %>
        <tr>
            <td>
                <form action="<%= url_for donations_path %>" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                <% this_donor_id = 0 %>
                <% donor['identifiers'].each do |donor_id| %>
                    <% if donor_id.start_with?("action_network:") then %>
                        <% donor_id.slice!('action_network:') %>
                    <% end %>
                <% end %>

                    <%= donor['given_name'] %> &nbsp; &nbsp; <%= donor['family_name'] %>
                    <br />
                    <br />
                    created: <%= donor['created_date']%>
                    <br />
                    modified: <%= donor['modified_date']%>
                    <br />
                    <br />
                        postal address: <br />
                        <% donor['postal_addresses'].each do |postal_address| %>
                            <% if postal_address['address_lines'] %>
                                <% postal_address['address_lines'].each do |address_line| %>
                                    <%= address_line %> <br />
                                <% end %>
                            <% end %>

                            <br />

                            <%= postal_address['locality']%>, <%= postal_address['region']%> &nbsp; &nbsp; 
                            <%= postal_address['postal_code'] %>

                        <% end %>
                    <br />
                    <br />
                        Email address: <br/>
                        <% donor['email_addresses'].each do |email_address| %>
                            <%= email_address['address']%>
                        <% end %>

                        <br />
                        <br />
                        Donation Amount: 
                        <br />
                        <input type="text" name="donation[amount]"> &nbsp; <input type="submit">
                        <input type="hidden" name="campaign[action_network_id]" value="<%= session[:campaign_hash]['id'] %>">
                        <input type="hidden" name="donation[display_name]" value="API form">
                        <input type="hidden" name="person[action_network_id]" value="<%= this_donor_id %>" >
                    <br />
                    <br />
                
                </form>
            <br />
            </td>
        </tr>
    <% end %>

</table>
<br />
<br />