
<p>
  <b>Found <%= @total_records %> fundraising <%= 'campaign'.pluralize(@total_records)%> eligible for manual donation insertion</b>
</p>
<form action=<%= url_for search_campaigns_path %> method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <select name="campaign[action_network_id]">
    <% @campaign_object_array.each do |campaign|  %>
      <% campaign.identifiers.each do |campaign_id| %>
        <% if campaign_id.start_with?("action_network:") then %>
          <% campaign_id.slice!('action_network:') %>
          <option value="<%= campaign_id %>"><%= campaign.title %></option>
        <% end %>
      <% end %>
    <% end %>
  </select>

  <input type="submit">
</form>